.show-score {
  position: absolute;
  top: 30%;
  font-size: 40px;
  text-align: center;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: lightpink;
}

.score-container,
.time-container {
  text-align: center;
}

.score-container h2,
.time-container h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.score-container p,
.time-container p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: blueviolet;
}

.tryAgain-button {
  margin-top: 300px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tryAgain-button:hover {
  background-color: #3e8e41;
}
